@font-face {
    font-family: "haas";
    src: url('../assets/fonts/haas-regular.ttf') format('truetype'), url('');
}

@font-face {
    font-family: "haas";
    font-weight: bold;
    src: url('../assets/fonts/haas-bold.ttf') format('truetype');
}

@font-face {
    font-family: "haas";
    font-weight: 600;
    src: url('../assets/fonts/haas-medium.ttf') format('truetype');
}

@font-face {
    font-family: "haas";
    font-weight: 400;
    src: url('../assets/fonts/haas-regular.ttf') format('truetype');
}

@font-face {
    font-family: "haas";
    font-weight: 100;
    src: url('../assets/fonts/haas-light.ttf') format('truetype');
}